.filtersAndOrdersContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #358bdb;
    width: 800px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 800px;
}

select  {
    color: #fefcfb;
    border: #2979c4;
    background-color: #034078;
    justify-content: center;
    margin: 0px 5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

option {
    color: whitesmoke;
    font-weight: bold;
}

.resetBtn {
    width: 100px;
}