.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

/* .filtersAndOrders{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
} */