.cardContainer {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 270px;
  height: 340px;
}

.cardContainer h1 {
  font-size: 17px;
}

.image {
  border-radius: 10px;
  width: 160px;
  height: 170px;
  object-fit: cover;
  object-position: center top;
  transition: all 0.4s ease;
  margin: 15px 0 5px;
  cursor: pointer;
}

.image:hover {
  transform: scale(0.9);
}

.cardContainer p {
  font-size: 13px;
  font-weight: 500;
}

.cardContainer h4 {
  font-size: 15px;
  font-weight: 700;
}

.dogInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}