.container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 80%;
    padding: 2%;
    color: #034078;
    background-color: #1282a2;
    border-radius: 10%;
    box-shadow: inset 2px 2px 50px 10px #034078;
    font-weight: bold;
}

.title {
    color: #fefcff;
    color: #034078;
}


label {
    color: #fefcff;
    font-size: large;
    margin-bottom: 3px;
}

input{
    width: 100%;
    font-size: large;
    border-radius: 6px;
    border: none;
}

.inputContainers {
    width: 100%;
    display: flex;
    height: 25px;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
    border-radius: 100px;
    padding: 10px;  /* Ajusta el relleno según tus necesidades */
}

.errors {
    color: red;
    margin-bottom: 10px;
    font-size: small;
    font-weight: 600;
}

.submitContainer{
    text-align: center;
    width: 100%;
}

.submitBtn{
    width: 100px;
    height: 40px;
}